In [ ]:
pip install geopandas

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display
import folium #지리정보 시각화
import geopandas
from folium import plugins
import plotly.express as px

In [ ]:
climate_change = pd.read_csv('https://raw.githubusercontent.com/Runningmancage/P-No2/main/climate-change.csv')
temperature_anomaly = pd.read_csv('https://raw.githubusercontent.com/Runningmancage/P-No2/main/temperature-anomaly.csv')
annual_co_emissions_by_regions = pd.read_csv('https://raw.githubusercontent.com/Runningmancage/P-No2/main/annual-co-emissions-by-region.csv')
energy = pd.read_csv('https://raw.githubusercontent.com/Runningmancage/P-No2/main/energy.csv')
co2_emissions_and_gdp = pd.read_csv('https://raw.githubusercontent.com/Runningmancage/P-No2/main/co2-emissions-and-gdp.csv')
fossil_fuel = pd.read_csv('https://raw.githubusercontent.com/Runningmancage/P-No2/main/fossil-fuel-co2-emissions-by-nation.csv')

In [ ]:
climate_copy = climate_change.copy()
temperature_copy = temperature_anomaly.copy()
annual_copy = annual_co_emissions_by_regions.copy()
co2_emissions_copy = co2_emissions_and_gdp.copy()
fossil_copy =fossil_fuel.copy()
energy_copy =energy.copy()

In [ ]:
climate_copy.columns

In [ ]:
df_cli = climate_copy.drop(columns = ['CSIRO', 'IAP', 'MRIJMA', 'NOAA','IAP.1', 'NOAA.1', 'MRIJMA.1','Mass U.S. glaciers']).rename(columns = {'Entity':'Country'})

In [ ]:
df_cli.describe()

In [ ]:
df_cli.info() # 메탄이나 아산화질소 잘 이용하면 좋을거 같은데 흠....
#결측치 많은 메탄/ 아산화질소 / 2월 / 9월 / Snow cover / 북극해 얼음 지우자?

In [ ]:
df_cli.drop(columns = ['CH4 concentrations','N2O concentrations', 'February', 'September','Snow cover', 'Arctic sea ice'], inplace = True)

In [ ]:
df_cli['Year'].value_counts()

In [ ]:
#df_cli = df_cli.loc[(df_cli['Year']>1979)].reset_index(drop = True)

In [ ]:
df_cli['Country'].unique()

In [ ]:
df_cli.fillna(df_cli.mean())

In [ ]:
df_cli = df_cli.loc[(df_cli['Year']<2022)].reset_index(drop=True)

In [ ]:
temperature_anomaly.head() # Median temperature anomaly from 1961-1990 average 961~1990 평균의 중위수 기준

In [ ]:
temperature_copy.drop(columns = ['Code'], inplace = True)

In [ ]:
df_t = temperature_copy.rename(columns = {'Entity':'Country'}) #.loc[(temperature_copy['Year']>1979)].reset_index(drop = True)

In [ ]:
df_t.info()

In [ ]:
energy.head()

In [ ]:
df_e = energy_copy.drop('Unnamed: 0', axis =1).reset_index(drop=True)

In [ ]:
df_e.dropna(inplace = True)

In [ ]:
annual_co_emissions_by_regions.head()

In [ ]:
df_r = annual_copy.drop(columns = 'Code').rename(columns = {'Entity':'Country'}) #.loc[(annual_copy['Year']>1979)].reset_index(drop = True)

In [ ]:
df_r.info()

In [ ]:
co2_emissions_copy.head(-10)

In [ ]:
df_ce = co2_emissions_copy.drop(columns = 'Code').rename(columns = {'Entity':'Country'}) #.loc[(co2_emissions_copy['Year']>1979)].reset_index(drop = True)

In [ ]:
df_ce.dropna(inplace = True)

In [ ]:
fossil_ti = []
for i in fossil_copy["Country"]:
  fossil_ti.append(i.title())
print(fossil_ti)

In [ ]:
fossil_copy["Country"] = fossil_ti

In [ ]:
fossil_copy.loc[fossil_copy["Country"]=="United Kingdom"]

In [ ]:
fossil_copy.info()

In [ ]:
df_cli.head(1)

In [ ]:
df_t.head(1)

In [ ]:
df_r.head(1)

In [ ]:
df_ce.head(1)

In [ ]:
df_ce.shape

In [ ]:
fossil_copy.head(-10)

In [ ]:
fossil_copy.shape

In [ ]:
df_e.head(1)
df_e = df_e.drop(columns = ['Energy_intensity_per_capita','Energy_intensity_by_GDP'])

In [ ]:
df_e.shape

In [ ]:
df_n = df_r.merge(df_ce, how = 'outer')
df_n.head(1)

In [ ]:
df_1 = df_n.merge(df_e, how = 'outer')
df_2 = df_1.merge(fossil_copy, how = 'outer')
df_3 = df_2.merge(df_t, how = 'outer')
df_t1 = df_3.merge(df_cli, how = 'outer')

In [ ]:
df_t1.head(-10)

In [ ]:
df_total = df_t1.drop(columns = ['Sea surface temp (lower-bound)','Sea surface temp (upper-bound)','Lower bound (95% CI)','Upper bound (95% CI)'])

In [ ]:
df_tf = df_total.loc[(df_total['Year']>1900)].reset_index(drop = True)

In [ ]:
df_tf.isnull().sum()

In [ ]:
df_tf1 = df_tf

In [ ]:
#df_tf1 = df_tf.fillna(df_tf.mean())

In [ ]:
#df_tf1 = df_tf1.dropna().reset_index(drop=True)

In [ ]:
A = df_tf1[df_tf1["Country"].str.contains('&')].index
A

In [ ]:
df_tf1.reset_index(drop=True,inplace = True)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
df_tf1.head()

In [ ]:
df_tf1=df_tf1.replace(["United States"], ["United States of America"])

In [ ]:
df_tf1.info()

In [ ]:
world = geopandas.read_file(geopandas.datasets.get_path('naturalearth_lowres'))
t = world.merge(df_tf1, how="left", left_on=['name'], right_on=['Country'])
t=t.fillna(0)
t['Year'] = t['Year'].astype(int)
df_final = t.loc[(t['Year']>1900)].reset_index(drop = True)
sorted_df = df_final.sort_values(by = "Year", ascending = True)


fig = px.bar(sorted_df, x = "continent", y = "Annual CO2 emissions (zero filled)",
                    animation_frame = "Year",
                    color = "Annual CO2 emissions (zero filled)", color_continuous_scale = "jet")
                    

fig.update_layout(template = "plotly_dark", font = dict(family = "PT Sans"))

In [ ]:
df_final=df_final.loc[df_final['Year']<2020]

In [ ]:
df_p = df_final.groupby(['Year','continent'])['Annual CO2 emissions'].sum().unstack()
df_p

In [ ]:
df_p.loc['1980-1984', :] = df_p.loc[[1980, 1981, 1982, 1983, 1984]].sum()
df_p.loc['1985-1989', :] = df_p.loc[[1985, 1986, 1987, 1988, 1989]].sum()
df_p.loc['1990-1994', :] = df_p.loc[[1990, 1991, 1992, 1993, 1994]].sum()
df_p.loc['1995-1999', :] = df_p.loc[[1995, 1996, 1997, 1998, 1999]].sum()
df_p.loc['2000-2004', :] = df_p.loc[[2000, 2001, 2002, 2003, 2004]].sum()
df_p.loc['2005-2009', :] = df_p.loc[[2005, 2006, 2007, 2008, 2009]].sum()
df_p.loc['2010-2014', :] = df_p.loc[[2010, 2011, 2012, 2013, 2014]].sum()
df_p.loc['2015-2019', :] = df_p.loc[[2015, 2016, 2017, 2018, 2019]].sum()

In [ ]:
df_p = df_p.loc[['1980-1984','1985-1989', '1990-1994','1995-1999', '2000-2004','2005-2009', '2010-2014', '2015-2019']]
df_p.reset_index()
df_p

In [ ]:
plt.figure(figsize=(15, 7))
plt.title('CO2 emissions per 5 years', fontsize=15)
plt.ylabel('CO2 emissions')
sns.lineplot(data=df_p, marker='o', linewidth=3)